__pycache__/
*.pyc
*.pyo
*.lock
*.log
*.png
*.xml
*.jpg
*.jpeg
*.zip
*.txt
*.yaml
*.pt
*.cache
*.egg-info/
env/
dist/
venv/
build/
test/
train/
mfvt_coco/
ZipDatasets/
roboflow_yolo/
andrewmvd_voc/
.env
.venv